
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-family: 'Kumbh Sans';
    
}

h1{
    color: blue;
}


.container {
    height: 100%;
    width: 50%;
    background-color: linear-gradient(#AF67E9, #6565E7);   

}

.img-mobile{
    width: 30%;
   
}
/* ATTRIBUTION */
.attribution {
     font-size: 11px; text-align: center; 
    }
.attribution a {
     color: hsl(228, 45%, 44%); 
    }