*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit
}

html {
  font-size: 12px;
  box-sizing: border-box;
  font-family: 'Kumbh Sans';
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: linear-gradient(#AF67E9, #6565E7);
    line-height: 1.3rem;
    margin: 0 auto;
}

h2{
    color: hsl(237, 12%, 33%);
    font-size: 1.2rem;
    
   
}

h1{
    color: hsl(238, 29%, 16%);
    font-size: 3rem;
    padding: 2rem 2rem 1.3rem 1.5rem;
    text-align: center;
}

p{
    color: hsl(240, 6%, 50%);
    padding-bottom: 0rem;
}


.container {
    height: 70vh;
    max-height: 41.75rem;
    width: 85%;
    max-width: 26.08rem;
    background-color: white;
    border-radius: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    position: relative;
    -webkit-box-shadow: 0px 6px 16px 12px  rgba(0, 0, 0, 0.09); /* Safari 3-4, iOS 4.0.2 - 4.2, Android 2.3+ */
    -moz-box-shadow:    0px 6px 16px 12px  rgba(0, 0, 0, 0.09);  /* Firefox 3.5 - 3.6 */
    box-shadow:         0px 6px 16px 12px  rgba(0, 0, 0, 0.09);  /* Opera 10.5, IE 9, Firefox 4+, Chrome 6+, iOS 5 */
}
.accordion {
    width: 100%;
    padding: 1.6rem;
    height: 85%;
    
}

.contentBox{
    position: relative;
    margin: 0rem 1.5rem 1 1rem;
}

.label{
    position: relative;
    padding: 1.2rem 1.5rem 0.8rem 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    font-weight: 400;
}

.label::before{
content: url('/images/icon-arrow-down.svg');
position: absolute;
top:50%;
right: 0;
transform: translateY(-50%);
}

.contentBox.active .label{
    color: hsl(238, 29%, 16%);
    font-weight: 700;
    border-bottom: none;
}

.contentBox.active .label::before{
    content: url('/images/icon-arrow-down.svg');
    transform: rotate(180deg);
    top:25%;
}

.content{
    position: relative;
    overflow: hidden;
    height: 0;
    transition: 0.5s;
    padding: 0;
    margin: 0;
}

.contentBox.active .content {
    height: 5.16rem;
    padding: 0;
    border-bottom: 1px solid hsl(240, 5%, 91%);
    line-height: 1.5rem;
}

.contentBox.closed  {
    max-height: 0;
}

.img-mobile{
    position: absolute;
    margin: 0;
    width: 20rem;
    top: -20%;
    right: 50%;
    transform: translateX(45%);
}

.img-shadow-mobile{
    position: absolute;
    top: 0rem;
    left: 10%;
    width: 80%;
}

.img-desktop{
    display: none;
}

.img-shadow-desktop{
    display: none;
}

.img-desktop-box{
    display: none;
}
/* ATTRIBUTION */
.attribution {
    font-size: 1rem;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translatex(-50%);
    }

.attribution a {
     color:white;
    }

    /* MEDIA QUERIES */

   @media screen and (min-width: 1200px){
   
    h1{
        text-align: left;
    }
    
    .container{
           width: 65vw;
           max-width: 1000px;
           display: flex;
           flex-direction:row;
           position: relative;
           line-height: 1.5rem;
     }

    .accordion {
        width: 55%;
     }

    .imgs {
            width: 45%;
            height: 100%;
            position: relative;
            overflow: hidden;
            background: url('images/bg-pattern-desktop.svg');
            background-position-y: -25rem;
            background-position-x: -50rem;
            background-repeat: no-repeat;
    }
        
    
    .img-desktop{
           display: block;
           position: absolute;
           top: 14%;
           left: -5rem;
           height: 64%;
           z-index: 1;
    }


    .img-desktop-box{
        display:flex;
        position: absolute;
        top: 37%;
        left: -8rem;
        z-index: 2;
    }

    .img-mobile{
           display: none;
    }

    .img-shadow-mobile{
           display: none;
    }

    .contentBox{
        position: relative;
        margin: 1.5rem 3rem 1.5rem 1.5rem;
    
    }
    .contentBox.active .content{
        height: 3.33rem;
    }
   }

   @media screen and (max-width: 320px){
   html {
       font-size: 0.7rem;
   }

   h1{padding: 0.8rem 2rem 1rem 1.5rem;

   }

   .contentBox.active .content {
    height: 3.5rem;
    line-height: 1.2rem;
    padding-bottom: 0;
}
}